<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>

    <!--Import JS-->
    <script src="/app.js"></script>
    <script src="/app/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--Import CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <link rel="stylesheet" type="text/css" href="/styles/thirdparty.css">
    <link rel="stylesheet" type="text/css" href="/styles/button.css">

    <title>Document</title>
</head>

<body>
    <header class="header">
        <h3 id="username" style="float: left;"></h3>
        <h1>Money Manager</h1>
        <a href="/logout">Logout</a>
    </header>
    <div style="margin-left: 5%;" class="timestamps">
        <select name="month" class="month">
           <option value="01">January</option>
           <option value="02">February</option>
           <option value="03">March</option>
           <option value="04">April</option>
           <option value="05">May</option>
           <option value="06">June</option>
           <option value="07">July</option>
           <option value="08">August</option>
           <option value="09">September</option>
           <option value="10">October</option>
           <option value="11">November</option>
           <option value="12">December</option>
        </select>

        <select name="year" class="year">
         <option value="2030">2030</option>
         <option value="2029">2029</option>
         <option value="2028">2028</option>
         <option value="2027">2027</option>
         <option value="2026">2026</option>
         <option value="2025">2025</option>
         <option value="2024">2024</option>
         <option value="2023">2023</option>
         <option value="2022">2022</option>
         <option value="2021">2021</option>
         <option value="2020">2020</option>
         <option value="2019">2019</option>
         <option value="2018">2018</option>
         <option value="2017">2017</option>
         <option value="2016">2016</option>
         <option value="2015">2015</option>
         <option value="2014">2014</option>
         <option value="2013">2013</option>
         <option value="2012">2012</option>
         <option value="2011">2011</option>
         <option value="2010">2010</option>
         <option value="2009">2009</option>
         <option value="2008">2008</option>
         <option value="2007">2007</option>
         <option value="2006">2006</option>
         <option value="2005">2005</option>
         <option value="2004">2004</option>
         <option value="2003">2003</option>
         <option value="2002">2002</option>
         <option value="2001">2001</option>
         <option value="2000">2000</option>
    </select>
        <button class="delete-btn" onclick="DeleteInput('element')">Delete</button>
        <button style="float: right;margin-right: 6%;" class="expenses-btn">Expenses</button>
        <button style="float: right;margin-right: 0.2%;" class="incomes-btn">Incomes</button>
        <button class="stats-btn" style="float: right;margin-right: 0.2%;">Statistic</button>
    </div>
    <div class="panel-expenses">

    </div>
    <div class="panel-incomes">

    </div>

    <div class="modal-background statistic"></div>
    <div class="modal-content statistic-content">
        <h3 class="details" style="display: inline-block;">Expenses Stats :</h3>
        <h3 id="expenses-stats" style="display: inline-block;"></h3>
        <h3 class="details" style="display: inline-block;">Incomes Stats :</h3>
        <h3 id="incomes-stats" style="display: inline-block;"></h3>
        <h3 class="details" style="display: inline-block;">General Stats :</h3>
        <h3 id="general-stats" style="display: inline-block;"></h3><br>
        <button id="cancel_stats-btn">Cancel</button>

    </div>
    <div class="modal-background addinput-expenses"></div>
    <div class="modal-content addinput-content-expenses">
        <p>Name of the input</p>
        <input id="input-name-expenses" type="text" placeholder="Enter the name">
        <button class="addinput-btn-expenses">Confirm</button>
    </div>
    <div class="modal-background addinput-incomes"></div>
    <div class="modal-content addinput-content-incomes">
        <p>Name of the input</p>
        <input id="input-name-incomes" type="text" placeholder="Enter the name">
        <button class="addinput-btn-incomes">Confirm</button>
    </div>
    <footer class="footer">
        <p>Created by: Luzon Jeremy</p>
        <p>Contact information: <a href="lznjeremy@gmail.com">
        lznjeremy@gmail.com</a>.</p>
    </footer>
</body>


</html>