<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import JS-->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/app/login.js"></script>

    <!--Import CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" type="text/css" href="/styles/thirdparty.css">
    <link rel="stylesheet" type="text/css" href="/styles/button.css">

    <title>Document</title>
</head>

<body>
    <header class="header">
        <h1>Money Manager</h1>
        <a href="/">Sign Up</a>
    </header>
    <div class="login-form">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
    <footer class="footer">
        <p>Created by: Luzon Jeremy</p>
        <p>Contact information: <a href="lznjeremy@gmail.com">
        lznjeremy@gmail.com</a>.</p>
    </footer>
</body>

</html>